# Lesson 4 - Strings

## Recap 1: Sushi Checkout

You just had a lunch at a sushi restaurant and have to
calculate the total amount you have spent. Different coloured
plates costs different as shown below:

Red = $1

Blue = $2

Green = $3

You have ordered a total of 3 red plates, 5 blue plates, and 4
green plates.

Calculate and print the total amount you have spent:

In [ ]:
# 4.Recap1
# Prices for different colored sushi plates
red_plate_price = 1  # $1 per red plate
blue_plate_price = 2  # $2 per blue plate
green_plate_price = 3  # $3 per green plate

# Quantities of each plate ordered
red_plates = 3
blue_plates = 5
green_plates = 4

# Calculating total amount spent
total_amount = (red_plates * red_plate_price) + (blue_plates * blue_plate_price) + (green_plates * green_plate_price)

# Printing total amount
print(total_amount)

## Task 1: Storing and printing Strings

**Task 1a**:
Use the input() function to ask the user for their name and
store it in a variable. Then print that variable.

**Task 1b**:
Ask the user for their favorite colour using input() and
store the response in a variable. Print the variable.

**Task 1c**:
Ask the user for their age using input() and store the answer
in a variable. Print the variable.

In [ ]:
# 4.1a
user_name = input("What's your name? ")
print(user_name)

# 4.1b
user_fav_colour = input("What's your favourite colour? ")
print(user_fav_colour)

# 4.1c
user_age = input("What's your age? ")
print(user_age)


## Task 2: Input & string concatenation

**Task 2a**:
Ask the user for their name using input() and store it in a
variable.
Concatenate the name with "Hi, [name]!" and print the
complete message.

**Task 2b**:
Use input() to ask the user for their favorite hobby. Store this
in a variable.
Print a message saying "I enjoy [hobby]" using string
concatenation.

**Task 2c**:
Ask the user for their dream vacation destination using input()
and store it in a variable.
Concatenate this variable with a phrase like "I would love to
visit" and print the full sentence.

In [ ]:
# 4.2a
user_name = input("What's your name? ")
print("Hi, " + user_name + "!")

# 4.2b
user_hobby = input("What's your favourite hobby? ")
print("I enjoy " + user_hobby)

# 4.2c
user_dest = input("What's your dream destination? ")
print("I would love to visit " + user_dest)


## Task 3: Type conversion, math, and string concatenation

**Task 3a**:
1. Ask the user for their current age using input(). Convert this
to an integer.
2. Add 1 to their age and convert it back to a string.
3. Then print a message saying "Next year, you will be [age+1]
years old."

**Task 3b**:
1. Use input() to ask the user for a number. Convert this number
from a string to an integer.
2. Double the number and convert it back to a string.
3. Print "Double your number is [double the number]".

**Task 3c**:
1. Use input() to ask the user for the year they were born and
convert it to an integer.
2. Subtract the birth year from the current year (assume the
current year as an integer) to find their age.
3. Convert the age back to a string and print "You are [age]
years old".

In [ ]:


# 4.3a
user_age = int(input("What's your age? "))
user_age = str(user_age + 1)
print("Next year, you will be " + user_age + " years old.")

# 4.3b
user_num = int(input("Give me a number: "))
user_num = str(user_num * 2)
print("Double your number is " + user_num)

# 4.3c
user_born = int(input("What is the year you were born in? "))
current_year = 2024
user_age = str(current_year - user_born)
print("You are " + user_age + " years old.")


## Task 4: Variable Reassignment Basics

Assign the string "Hello" to a variable 'message'.
Then reassign 'message' to the integer "10" and print it.

In [ ]:

# 4.4
message = "Hello"
message = 10
print(message)

## Task 5: Printing Full Name

Create 2 variables, 'firstName' and 'lastName', assigning your
first and last names to them. Then print them on the same line
with a space between them.

In [ ]:

# 4.5
firstName = "Johnny"
lastName = "Cheng"

print(firstName + " " + lastName)


## Task 6: Age and Name Concatenation

Assign a name to the variable "user_name"

Assign an integer to the variable "user_age"

Use type conversion and string concatenation to print out
"[user_name] is [user_age] years old."

In [ ]:

# 4.6
user_name = "Timothy"
user_age = 10
print(user_name + " is " + str(user_age) + " years old.")