# Lesson 6 - Debugging

## Recap 1: Class Average Calculator

You have been tasked to create a programme that calculates the
average marks of a class.

Your program will have to ask the
user for the total number of students, followed by the marks of
each student one at a time.

Use only variables, math operators that you have learnt, as
well as a 'for' loop.

In [ ]:
# 6.Recap1
num_stud = int(input("Number of students: "))
total_marks = 0
for i in range(num_stud):
    total_marks = total_marks + int(input("Student mark: "))
average_marks = total_marks / num_stud
print("The average marks is: " + str(average_marks))

## Task 1: Syntax Errors
Fix the errors in the following:

**Task 1a**:

for i in range(3)

print("Hello, World!")

**Task 1b**:

for i in range(5):

print(i)

**Task 1c**:

print("Hello, World!)

**Task 1d**:

if = 5

**Task 1e**:

print "Hello, World!"

In [ ]:

# 6.1a
for i in range(3):
    print("Hello, World!")

# 6.1b
for i in range(5):
    print(i)

# 6.1c
print("Hello, World!")

# 6.1d
If = 5 # "if" is a Python reserved word

# 6.1e
print("Hello, World!")


## Task 2: Name Errors
Fix the errors in the following:

**Task 2a**:

print(age)

**Task 2b**:

name = "Alice"

print(nam)

**Task 2c**:

print(x)

x = 5

**Task 2d**:

pint("Hello, World!")

In [ ]:

# 6.2a
age = 5
print(age)

# 6.2b
name = "Alice"
print(name)

# 6.2c
x = 5
print(x)

# 6.2d
print("Hello, World!")



---------------------------------------------------------------

## Task 3: Type Errors
Fix the errors in the following:

**Task 3a**:

age = "25"

print(age + 1)

**Task 3b**:

number = 10

print(number - "5")

**Task 3c**:

print("Repeat" * "3")

**Task 3d**:

year = 2023

print("The year is " + year)

**Task 3e**:

x = "10"

y = x / 2

**Task 3f**:

end = "5"

for i in range(end):

print(i)

In [ ]:

# 6.3a
age = 25
print(age + 1)

# 6.3b
number = 10
print(number - 5)

# 6.3c
print("Repeat" * 3)

# 6.3d
year = 2023
print("The year is " + str(year))

# 6.3e
x = 10
y = x / 2

# 6.3f
end = 5
for i in range(end):
    print(i)